.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 15px 30px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: var(--dark-gray);
  position: relative;
}

.nav__notification {
  background-color: tomato;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  left: 32px;
  bottom: 25px;
}

.nav__number {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  left: 20px;
  bottom: 18px;
}
