.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 55px;
  height: 55px;
  border-radius: 20px;
  margin: 10px;
}

.user-component__title {
  font-weight: 600;
  /* font-size: 22px; */
}
